.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 24rem;
    pointer-events: auto;
}

.form a {
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--green);
    text-align: center;
    text-decoration: none;
    color: var(--black);
    font-size: 1.5rem;
    transition: 300ms;
}

@media (hover:hover) {
    .form a:hover {
        background-color: var(--white);
        color: var(--black);
        cursor: pointer;
    }
}

@media (orientation: landscape) and (max-width: 1200px) {
    .form a {
        font-size: 1rem;
    }
}