.select {
    height: 2.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    font-size: 1.3rem;
    color: var(--black);
}

@media (orientation: landscape) and (max-width: 1200px) {
    .select {
        font-size: 1rem;
    }
}